.card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.card h3 {
    margin-right: -22px;
    font-size: 21px;

}

.card a {
	width: 55px;
	padding: 10px 10px;
	margin-left: 30px;
}

#univers-santé {
	width: 175px;
}