.onglet {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

.onglet a {
    font-size: 20px;
    color: black;
}

.onglet a:hover {
    color: #85481e;
}